<div class="row">
    {{#each notes}}
    <div class="-col-md-3">
        <div class="card">
            <div class="card-body ">
            
                    <h4 class="card-title d-flex justify-content-between aling-items-center">
                    {{titulo}}
                    <a href="notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                    </h4>
                    <p>{{descripcion}}</p>
                    <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="delete">
                        <button class="btn btn-danger btn.block btn-sm">Eliminar</button> 
                    </form>
            </div>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <p class="lead">No hay notas</p>
            <a href="/notes/add" class="btn btn-success btn-block">Crear una nota nueva</a>
        </div>
    </div>
    {{/each}}
</div>